a,
a:visited {
  text-decoration: none;
  font-weight: normal;
  color: inherit;
}

button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

.combobox {
  font-size: 1.3em;
  border-radius: 20px;
  line-height: 1;
  background-color: var(--fg-color);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  color: var(--text-color);
}

.combobox[data-open="true"] .searchResultsContainer {
  display: flex;
  flex-direction: column;
  border-radius: 0 0 20px 20px;
  overflow: hidden;
}

.combobox[data-open="true"] input {
  border-radius: 20px 0 0 0;
}

.combobox[data-open="true"] .clearInputButton {
  border-radius: 0 20px 0 0;
}

.inputContainer {
  display: flex;
  align-items: stretch;
}

input {
  flex: 1;
  border: 0;
  padding-block: 0.5em;
  padding-inline: 1em;
  border-radius: 20px 0 0 20px;
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
}

.clearInputButton {
  padding-inline: 0.5em;
  border-radius: 0 20px 20px 0;
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.searchResultsContainer {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}

.searchResult {
  font-weight: bold;
  text-align: start;
  padding-block: 0.35em;
  padding-inline: 1em;
}

.searchResult[data-hovered="true"] {
  background-color: rgb(146, 146, 146);
}

.searchResult .inputValueInRelatedSearchSpan:first-of-type {
  font-weight: normal;
}

.boldedValueDivElement {
  display: inline;
}
